In [1]:
import numpy as np
import pandas as pd

In [48]:
#Read excel file
dfs = pd.read_excel('./logs_regression (3rd copy).xlsx')
dfs.head()

,Date,shape,hidden,dim,num_classes,loss,lr_init,coeff,KL,Number of iter,...,CCR1_test,last_iter,ccr_tr_last,ccr_test_last,rmse_tr_last,rmse_test_last,mae_tr.1,mae_test.1,CCR1_tr.1,CCR1_test.1
0,February07 13:24:06,call_housing,"[64, 64, 128, 128, 256, 512, 256, 128, 64, 32,...",7,10,1.0xsingle + 0.0Xmulti,1,[1],True,83,...,0.723595,100,0.367975,0.351017,1.641390,1.736311,1.091085,1.154797,0.735768,0.720446
1,February07 13:26:09,call_housing,"[64, 64, 128, 128, 256, 512, 256, 128, 64, 32,...",7,10,1.0xsingle + 0.0Xmulti,1,[1],True,77,...,0.731831,100,0.367006,0.350775,1.680838,1.703849,1.111919,1.140019,0.727774,0.727471
2,February07 13:28:17,call_housing,"[64, 64, 128, 128, 256, 512, 256, 128, 64, 32,...",7,10,1.0xsingle + 0.0Xmulti,1,[1],True,56,...,0.687016,100,0.339450,0.328488,1.780755,1.784950,1.207304,1.230620,0.695979,0.687984
3,February07 13:30:25,call_housing,"[64, 64, 128, 128, 256, 512, 256, 128, 64, 32,...",7,10,1.0xsingle + 0.0Xmulti,1,[1],True,60,...,0.702277,100,0.330790,0.337694,1.789085,1.754631,1.220688,1.199370,0.693011,0.701793
4,February07 13:32:31,call_housing,"[64, 64, 128, 128, 256, 512, 256, 128, 64, 32,...",7,10,1.0xsingle + 0.0Xmulti,1,[1],True,69,...,0.715116,100,0.351926,0.338178,1.669958,1.723147,1.132025,1.166424,0.718447,0.711967

In [49]:
# map weights and losses

map_loss = {'1.0xsingle + 0.0Xmulti': 'SL', '0.0xsingle + 1.0Xmulti': 'ML'}
map_coeff = {'[1]':'CCR','[1, 1, 1]':'CCR1',
              '[ 0.11111111  0.22222222  0.33333333  0.44444444  0.55555556  0.66666667\n  0.77777778  0.88888889  1.          0.88888889  0.77777778  0.66666667\n  0.55555556  0.44444444  0.33333333  0.22222222  0.11111111]':'MAE'}
dfs.loss = [map_loss[x] for x in dfs.loss.values]
dfs.coeff = [map_coeff[x] for x in dfs.coeff.values]
dfs.head()

,Date,shape,hidden,dim,num_classes,loss,lr_init,coeff,KL,Number of iter,...,CCR1_test,last_iter,ccr_tr_last,ccr_test_last,rmse_tr_last,rmse_test_last,mae_tr.1,mae_test.1,CCR1_tr.1,CCR1_test.1
0,February07 13:24:06,call_housing,"[64, 64, 128, 128, 256, 512, 256, 128, 64, 32,...",7,10,SL,1,CCR,True,83,...,0.723595,100,0.367975,0.351017,1.641390,1.736311,1.091085,1.154797,0.735768,0.720446
1,February07 13:26:09,call_housing,"[64, 64, 128, 128, 256, 512, 256, 128, 64, 32,...",7,10,SL,1,CCR,True,77,...,0.731831,100,0.367006,0.350775,1.680838,1.703849,1.111919,1.140019,0.727774,0.727471
2,February07 13:28:17,call_housing,"[64, 64, 128, 128, 256, 512, 256, 128, 64, 32,...",7,10,SL,1,CCR,True,56,...,0.687016,100,0.339450,0.328488,1.780755,1.784950,1.207304,1.230620,0.695979,0.687984
3,February07 13:30:25,call_housing,"[64, 64, 128, 128, 256, 512, 256, 128, 64, 32,...",7,10,SL,1,CCR,True,60,...,0.702277,100,0.330790,0.337694,1.789085,1.754631,1.220688,1.199370,0.693011,0.701793
4,February07 13:32:31,call_housing,"[64, 64, 128, 128, 256, 512, 256, 128, 64, 32,...",7,10,SL,1,CCR,True,69,...,0.715116,100,0.351926,0.338178,1.669958,1.723147,1.132025,1.166424,0.718447,0.711967

In [89]:
# Drop the unnecessary colums

dfs_simple = dfs.drop(['Date', 'num_classes', 'dim', 'hidden', 'lr_init', 'KL'], axis=1)
dfs_simple.head()

dfs_test = dfs_simple.drop(dfs_simple.columns[3:15], axis=1)
dfs_test.head()

,shape,loss,coeff,ccr_tr_last,ccr_test_last,rmse_tr_last,rmse_test_last,mae_tr.1,mae_test.1,CCR1_tr.1,CCR1_test.1
0,call_housing,SL,CCR,0.367975,0.351017,1.641390,1.736311,1.091085,1.154797,0.735768,0.720446
1,call_housing,SL,CCR,0.367006,0.350775,1.680838,1.703849,1.111919,1.140019,0.727774,0.727471
2,call_housing,SL,CCR,0.339450,0.328488,1.780755,1.784950,1.207304,1.230620,0.695979,0.687984
3,call_housing,SL,CCR,0.330790,0.337694,1.789085,1.754631,1.220688,1.199370,0.693011,0.701793
4,call_housing,SL,CCR,0.351926,0.338178,1.669958,1.723147,1.132025,1.166424,0.718447,0.711967

In [158]:
dfs_test_mean = dfs_test.groupby(['shape', 'loss', 'coeff']).mean()

#Negate the rmse and mae columns
dfs_test_mean[dfs_test_mean.columns[2:6]] = -dfs_test_mean[dfs_test_mean.columns[2:6]].values

dfs_test_mean

                           ccr_tr_last  ccr_test_last  rmse_tr_last  \
shape          loss coeff
boston_housing ML   CCR       0.476568       0.401320     -1.330762
                    CCR1      0.427063       0.400000     -1.092268
                    MAE       0.434488       0.400000     -1.156782
               SL   CCR       0.520957       0.429043     -1.264424
                    CCR1      0.454290       0.440264     -1.231497
                    MAE       0.375083       0.367657     -1.454954
call_housing   ML   CCR       0.352414       0.342135     -1.712861
                    CCR1      0.247263       0.244154     -1.845751
                    MAE       0.319049       0.312516     -1.589099
               SL   CCR       0.358479       0.345898     -1.688675
                    CCR1      0.323837       0.320866     -1.576866
                    MAE       0.328545       0.324758     -1.575671
cpu_act        ML   CCR       0.546203       0.533496     -1.010494
                    CCR1      0.382888       0.378144     -1.261095
                    MAE       0.513749       0.511640     -0.969053
               SL   CCR       0.550923       0.539520     -0.985436
                    CCR1      0.491256       0.489621     -0.977995
                    MAE       0.500046       0.496337     -0.992035
house_16h      ML   CCR       0.385951       0.366403     -1.969912
                    CCR1      0.258192       0.249912     -1.753737
                    MAE       0.349006       0.337869     -1.662090
               SL   CCR       0.397977       0.371408     -1.894524
                    CCR1      0.292050       0.283465     -1.758056
                    MAE       0.324248       0.320866     -1.756670

                           rmse_test_last  mae_tr.1  mae_test.1  CCR1_tr.1  \
shape          loss coeff
boston_housing ML   CCR         -1.393532 -0.815347   -0.927393   0.823267
                    CCR1        -1.266072 -0.724752   -0.850825   0.906436
                    MAE         -1.282300 -0.766172   -0.866667   0.859736
               SL   CCR         -1.369607 -0.737459   -0.884488   0.847525
                    CCR1        -1.297708 -0.772442   -0.834323   0.860231
                    MAE         -1.494580 -0.991749   -1.019142   0.767657
call_housing   ML   CCR         -1.727087 -1.153779   -1.171802   0.712080
                    CCR1        -1.870778 -1.362383   -1.383285   0.687322
                    MAE         -1.600957 -1.136099   -1.150743   0.717292
               SL   CCR         -1.702994 -1.129163   -1.150081   0.722129
                    CCR1        -1.595191 -1.084730   -1.099693   0.761301
                    MAE         -1.586494 -1.116295   -1.126938   0.717309
cpu_act        ML   CCR         -1.027698 -0.603337   -0.621978   0.896800
                    CCR1        -1.283501 -0.925317   -0.938421   0.827275
                    MAE         -0.977065 -0.613571   -0.619170   0.902386
               SL   CCR         -1.005977 -0.587181   -0.605902   0.904624
                    CCR1        -0.989727 -0.628648   -0.636793   0.915082
                    MAE         -1.000137 -0.635963   -0.643508   0.895458
house_16h      ML   CCR         -2.014305 -1.235936   -1.281607   0.697851
                    CCR1        -1.819427 -1.212363   -1.262204   0.759339
                    MAE         -1.732109 -1.120748   -1.168554   0.723590
               SL   CCR         -1.968995 -1.181723   -1.251551   0.710521
                    CCR1        -1.827068 -1.186910   -1.235528   0.755959
                    MAE         -1.787617 -1.210537   -1.231021   0.693360

                           CCR1_test.1
shape          loss coeff
boston_housing ML   CCR       0.799340
                    CCR1      0.840264
                    MAE       0.824422
               SL   CCR       0.814521
                    CCR1      0.825083
                    MAE       0.761056
call_housing   ML   CCR       0.708430
                    CCR1      0.680491
                    MAE       0.712258
               SL   CCR       0.718653
                    CCR1      0.754716
                    MAE       0.713388
cpu_act        ML   CCR       0.892877
                    CCR1      0.823443
                    MAE       0.900651
               SL   CCR       0.900244
                    CCR1      0.910134
                    MAE       0.892796
house_16h      ML   CCR       0.687387
                    CCR1      0.740928
                    MAE       0.711062
               SL   CCR       0.694849
                    CCR1      0.741030
                    MAE       0.688265

In [93]:
dfPercent = pd.DataFrame({'2014/2015':['10.3%','9.7%','9.2%'],
                   '2015/2016':['4.8%','100.8%','9.7%']})
dfPercent

  2014/2015 2015/2016
0     10.3%      4.8%
1      9.7%    100.8%
2      9.2%      9.7%

In [146]:
def highlight_max(data, color='yellow'):
    '''
    highlight the maximum in a Series or DataFrame
    '''
    attr = 'background-color: {}'.format(color)
    #remove % and cast to float
    data = data.replace('%','', regex=True).astype(float)
    if data.ndim == 1:  # Series from .apply(axis=0) or axis=1
        is_max = data == data.max()
        return [attr if v else '' for v in is_max]
    else:  # from .apply(axis=None)
        is_max = data == data.max().max()
        return pd.DataFrame(np.where(is_max, attr, ''),
                            index=data.index, columns=data.columns)

In [173]:
from IPython.display import display, HTML

dfs_test_mean_by_data = dfs_test_mean.groupby(['shape'])

for data, group in dfs_test_mean_by_data:
    display(group.style.apply(highlight_max))

In [254]:
test = dfs_test_mean_by_data.get_group('cpu_act')

test2 = pd.DataFrame({test.columns[0]: 'cpu_act',
                         'ccr_tr_last':[100,50,150,300],
                         'ccr_test_last':[400,40,140,140],
                         'rmse_tr_last':[230,23,213,213],
                         'rmse_test_last':[10000,10000,2000,30000],
                        'mae_tr.1':[10000,10000,2000,30000],
                        'mae_test.1':[10000,10000,2000,30000],
                        'CCR1_tr.1':[10000,10000,2000,30000],
                        'CCR1_test.1':[10000,10000,2000,30000],
                         }, index = ['(cpu_act, ML, CCR)', '(cpu_act, ML, CCR)', '(cpu_act, ML, CCR)', '(cpu_act, ML, CCR)'])
                     
display(test2)
ad = pd.DataFrame([{'ccr_tr_last':'cpu_act', 'loss':'SL'}])

test = test.append(test2)

test

,CCR1_test.1,CCR1_tr.1,ccr_test_last,ccr_tr_last,mae_test.1,mae_tr.1,rmse_test_last,rmse_tr_last
"(cpu_act, ML, CCR)",10000,10000,400,100,10000,10000,10000,230
"(cpu_act, ML, CCR)",10000,10000,40,50,10000,10000,10000,23
"(cpu_act, ML, CCR)",2000,2000,140,150,2000,2000,2000,213
"(cpu_act, ML, CCR)",30000,30000,140,300,30000,30000,30000,213

,CCR1_test.1,CCR1_tr.1,ccr_test_last,ccr_tr_last,mae_test.1,mae_tr.1,rmse_test_last,rmse_tr_last
"(cpu_act, ML, CCR)",0.892877,0.896800,0.533496,0.546203,-0.621978,-0.603337,-1.027698,-1.010494
"(cpu_act, ML, CCR1)",0.823443,0.827275,0.378144,0.382888,-0.938421,-0.925317,-1.283501,-1.261095
"(cpu_act, ML, MAE)",0.900651,0.902386,0.511640,0.513749,-0.619170,-0.613571,-0.977065,-0.969053
"(cpu_act, SL, CCR)",0.900244,0.904624,0.539520,0.550923,-0.605902,-0.587181,-1.005977,-0.985436
"(cpu_act, SL, CCR1)",0.910134,0.915082,0.489621,0.491256,-0.636793,-0.628648,-0.989727,-0.977995
"(cpu_act, SL, MAE)",0.892796,0.895458,0.496337,0.500046,-0.643508,-0.635963,-1.000137,-0.992035
"(cpu_act, ML, CCR)",10000.000000,10000.000000,400.000000,100.000000,10000.000000,10000.000000,10000.000000,230.000000
"(cpu_act, ML, CCR)",10000.000000,10000.000000,40.000000,50.000000,10000.000000,10000.000000,10000.000000,23.000000
"(cpu_act, ML, CCR)",2000.000000,2000.000000,140.000000,150.000000,2000.000000,2000.000000,2000.000000,213.000000
"(cpu_act, ML, CCR)",30000.000000,30000.000000,140.000000,300.000000,30000.000000,30000.000000,30000.000000,213.000000